.brasao{
	margin-top: 10%;
	width:auto;
	height:auto;
	max-width: 20%;
}

.head{
	background-image: url("../images/back.jpg");
	background-attachment: fixed;
  	background-position: center center;
  	background-repeat: no-repeat;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
  	color:white;
}

.icon{
	margin-top:-1%;
	margin-left: 1%;
	margin-right: 1%;
	color:white;
}

.icon:hover{
	opacity: 0.5;
}

.socialmedia{
	margin-top: 3%;
}

.main-text{
	font-family:OLD_FONT;
	margin-top: 2%;
}